@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'quicksand', sans-serif;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p, li, ul {
  margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

Header {
  background-color: rgba(187, 144, 228, 0.63);
  text-align: center;
}

header h1 {
  padding-top: 1%;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  padding: .5%;
}

.nav li {
  display: inline;
  font-weight: bold;
  margin: 1%;
  padding: .5%;
}

.nav a {
  text-decoration: none;
  color: rgb(129, 45, 224);
}

.nav a:hover {
  text-shadow: 1px 2px 2px rgba(108, 24, 164, 0.466);
  color: rgb(128, 45, 224);
}

main {
  background-color: rgb(169, 240, 240);
  min-height: 100vh;
}

h2 {
  text-align: center;
  margin-bottom: .5rem;
}

.main-content-container {
    display: grid;
    place-content: center;
    text-align: center;
    padding: 2rem;
}

.main-content {
    text-align: center;
    padding: 8px;
}

#me {
    border-radius: 9%;
    margin: auto;
}

.blog-page {
    display: grid;
    margin: auto;
  }

.blog-content-title {
    background-color: rgba(51, 9, 167, 0.363);
    color: white;
    margin-bottom: 0;
}

.blog-content-container {
    display: grid;
    background-color: rgba(199, 170, 236, 0.568);
    margin-inline-start: 20%;
    margin-inline-end: 20%;
    padding: 2rem;
}

.blog-content-container p {
    font-weight: 600;
    color: black;
    padding-bottom: 2rem;
    word-spacing: .2em;
    line-height: 1.5em;
    padding-top: 2rem;
}

h3.blog-post-content-subheading {
  text-align: center;
  margin: .5rem;
  background-color: rgba(240, 248, 255, 0.521);
}

.indent {
  margin-left: 5%;
  line-height: 1.5em;
}